[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
